# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2.3D_PlatFormer.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Games\Temp\2.3D_PlatFormer\.idea\.idea.2.3D_PlatFormer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
